extends ../layout/layout

block content
    h1 User info

    p
        b Name 
        span.ml-4= user.name
        br
        b Phone
        span.ml-4= user.phone
        br
        b Email
        span.ml-4= user.email

    a(href="/users") Users list